<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Category 보기</title>
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
    <script>
        function categoryUpdate() {
            let name = $("#name").val();
            let updateData = confirm(name + " 로 수정 하시겠습니까 ?");
            return updateData;
        }
        function categoryDelete() {
            let name = $("#name").val();
            let deleteData = confirm(name + " 를 삭제 하시겠습니까 ?");
            return deleteData;
        }
    </script>
</head>
<body>
<form id="form" name="form" method="post" action="/ctweb/categoryList/category_list_update" th:object="${allList}" th:onsubmit="return categoryUpdate()">
    <input type="number" th:field="*{id}" readonly/>
    <input type="text" th:field="*{name}" />
    <input type="submit" value="수정" />
    <input type="reset" value="원복"/>
    <a th:href="@{/ctweb/categoryList/category_list_delete(id=*{id})}"  th:onsubmit="return categoryDelete()" >삭제</a>
</form>
</body>
</html>