<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/mazer/assets/compiled/css/app.css">
    <link rel="stylesheet" href="/mazer/assets/compiled/css/app-dark.css">
    <link rel="stylesheet" href="/mazer/assets/compiled/css/iconly.css">
    <style>
        h1{
            margin: 50px 0;
            text-align: center;
        }
        #divButton{
            margin:2px;
        }
    </style>
    <script language="JavaScript" src="/js/jquery-3.7.1.min.js"></script>
    <script>
        const goBack = () => {
            history.back();
        }
        function categoryInsert() {
            let name = $("#name").val();
            let ret = confirm(name + " 추가 하시겠습니까 ?");
            return ret;
        }
    </script>
</head>
<body>
<h1>분류 정보 추가 화면</h1>
<form id="form" name="form" class="pagination pagination-primary  justify-content-center" method="post" action="category_insert" onsubmit="return categoryInsert();">
    <label for="name" style="font-size: 20px">추가할 내용</label>
    <input type="text" style="width: 300px" id="name" name="name" placeholder="추가할 이름 입력" />

    <div id="divButton">
        <a onclick="goBack();"><button class="btn btn-primary">뒤로</button></a>
        <input type="submit" class="btn btn-primary" value="추가"/>
    </div>
</form>
</body>
</html>