<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>분류 관리 목록 화면</title>
    <style>
        #head{
            margin: 25px;
        }
        #nameTag{
            border: solid;
            padding: 0 30px;
        }
        #addButton{
            color:blue;
        }
    </style>
</head>
<body>
    <div>
        <header id="head">
            <form>
                <span id="nameTag">이름</span>
                <input type="text" id="id" placeholder="검색할 이름 입력">
                <input type="submit" value="검색">
                
            </form>
        </header>
        <main>
            <section>
                <div>d</div>
                <div>d</div>
                <div>d</div>
                <div>d</div>
                <div>d</div>
                <div>d</div>
                <div id="addButton">
                    <button>추가</button>
                </div>

            </section>
        </main>
        
        <footer>
            <a onclick="javascript:history.back();"><button>Prev</button></a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
            <a href="">7</a>
            <a href="">8</a>
            <a onclick="javascript:history.forward();"><button>Next</button></a>
        </footer>
    </div>
</body>
</html>