<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>분류 관리 목록 화면</title>
    <style>
        #head{
            margin: 25px;
        }
        #nameTag{
            border: solid;
            padding: 0 30px;
        }
    </style>
</head>
<body>
    <div>
        <header id="head">
            <form>
                <span id="nameTag">이름</span>
                <input type="text" id="id" placeholder="검색할 이름 입력">
                <input type="submit" value="검색">
                
            </form>
        </header>
        <section>
            dd
        </section>
        <footer>
            <a onclick="javascript:history.back();"><button>Prev</button></a>
            <a onclick="javascript:history.forward();"><button>Next</button></a>
        </footer>
    </div>
</body>
</html>